#sec1{
    background:url('http://images6.fanpop.com/image/photos/35300000/Autumn-in-the-city-autumn-35392312-1365-768.jpg');
    background-size:cover;
    height:100vh;
    width:100vw;
    position:relative;
    background-repeat: no-repeat;
    text-align:center;
}

#slogan{
    position:relative;
    top:30vh;
    color:white;
    font-family: 'Unlock', cursive;
    font-size: 5em;
    padding: 20px;
}

#sec3{
    height:inherit;
    width:100vw;
    background-color:#f2f2f2;
}

#sec5{
    height:inherit;
    width:100vw;
    background-color:#f2f2f2;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

#downarrow{
  animation: bounce 2s infinite;
}